@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





$margin: 82px;


$color-dark: #181C29;
$primary: #FF4646;
$static-white: #FFFFFF;
$tap-purple: #4361FF;
$content-background: #ECF3F8;
$primary-10: #FF46461A;
$static-white-40: #FFFFFF66;
$tag-pink: #FF43F7;
$overlay: #181C29CC;
$static-white-20: #FFFFFF33;
$tag-green: #06A44F;





@mixin action-small{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 0.049em;;
    text-transform: uppercase;
}

@mixin caption{
    font-family: "Allura", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
}

@mixin header1{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
}

@mixin header2{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 153%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

@mixin paragraph{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

@mixin slider-text{
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin background{
    background-color: $primary;
    background-image: url("../../assets/img/bg-snow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    width: 100%;

    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 $margin;

        .header-logo{
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 12px 0;
            padding: 8px 20px;
            text-decoration: none;

            .header-logo__title{
                @include action-small;
                color: $color-dark;
            }
        }

        .header-menu{

            .header-menu__items{
                list-style: none;
                display: flex;
                gap: 8px;
            }

            .header-menu__item{
                @include action-small;
                color: $color-dark;
            }

            .header-menu__a{
                @include action-small;
                color: $color-dark;
                text-decoration: none;
                padding: 12px 20px;
                border-radius: 12px;
                transition: all 0.5s ease;

                &:hover{
                    background-color: $primary-10;
                    color: $primary;
                }
            }
        }
    }
}

.main{
    width: 100%;

    .hero{
        @include background;
        background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-ball.png");
        border-radius: 20px 20px 0 0;
        padding: 60px 0;
        display: flex;
        justify-content: center;
    }

    .hero-container{
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        max-width: 426px;

        .hero-caption{
            @include caption;
            text-align: center;
            color: $static-white;
        }

        .hero-header1{
            @include header1;
            text-align: center;
            color: $static-white;
        }

        .hero-button{
            background: $color-dark;
            border-radius: 20px;
            padding: 20px 32px;
            @include action-small;
            text-align: center;
            color: $static-white;
            text-decoration: none;
            transition: all 0.7s ease;

            &:hover{
                background-color: $static-white;
                color: $color-dark;
            }
        }
    }

    .about{
        @include background;
        padding: 60px 0;

        .about-container{
            margin: 0 $margin;
            background-color: $static-white;
            border-radius: 20px;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 152px;

            .about-text{
                max-width: 426px;
                padding: 60px 0px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .about-text__caption{
                    @include caption;
                    color: $primary;
                }

                .about-text__header2{
                    @include header2;
                    color: $color-dark;
                }

                .about-text__paragraph{
                    @include paragraph;
                    color: $color-dark;
                }
            }

            .about-img{
                border-radius: 20px;
            }
        }
    }

    .slider{
        @include background;
        padding: 60px 0;

        .slider-container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .slider-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .slider-text__caption{
                    @include caption;
                    color: $static-white;
                }

                .slider-text__header2{
                    @include header2;
                    color: $static-white;
                    text-align: center;
                    line-height: 150%;
                }
            }

            .slider-items{
                display: flex;
                overflow: hidden;

                .slider-item{
                    display: flex;
                    align-items: center;
                    &:first-child{
                        margin-left: 82px;
                    }

                    &:last-child{
                        margin-right: 82px;
                    }

                    .slider-item__word{
                        @include slider-text;
                        color: $static-white;
                        letter-spacing: 0.0035em;
                    }

                    .slider-item__img{
                        width: 200px;
                        height: 200px;
                        border-radius: 20px;
                        margin: 0 20px;
                    }
                }
            }

            .slider-button{
                margin: 0 $margin;
                display: flex;
                justify-content: end;
                gap: 20px;

                .slider-button__left{
                    border: 1px solid $static-white-40;
                    border-radius: 20px;
                    width: 56px;
                    height: 56px;
                    background-color: $primary;
                }

                .slider-button__right{
                    border: 1px solid $static-white;
                    border-radius: 20px;
                    width: 56px;
                    height: 56px;
                    background-color: $primary;
                    transition: all 0.5s ease;

                    &:hover svg path{
                        cursor: pointer;
                        stroke: $primary;
                    }

                    &:hover{
                        cursor: pointer;
                        background-color: $static-white;
                    }
                }
            }
        }
    }
}