@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 82px;
}
.header .header-container .header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
  padding: 8px 20px;
  text-decoration: none;
}
.header .header-container .header-logo .header-logo__title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
}
.header .header-container .header-menu .header-menu__items {
  list-style: none;
  display: flex;
  gap: 8px;
}
.header .header-container .header-menu .header-menu__item {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
}
.header .header-container .header-menu .header-menu__a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.5s ease;
}
.header .header-container .header-menu .header-menu__a:hover {
  background-color: rgba(255, 70, 70, 0.1019607843);
  color: #FF4646;
}

.main {
  width: 100%;
}
.main .hero {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-ball.png");
  border-radius: 20px 20px 0 0;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.main .hero-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 426px;
}
.main .hero-container .hero-caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}
.main .hero-container .hero-header1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.main .hero-container .hero-button {
  background: #181C29;
  border-radius: 20px;
  padding: 20px 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.7s ease;
}
.main .hero-container .hero-button:hover {
  background-color: #FFFFFF;
  color: #181C29;
}
.main .about {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.main .about .about-container {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 0 82px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 152px;
}
.main .about .about-container .about-text {
  max-width: 426px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .about .about-container .about-text .about-text__caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FF4646;
}
.main .about .about-container .about-text .about-text__header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 153%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181C29;
}
.main .about .about-container .about-text .about-text__paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: #181C29;
}
.main .about .about-container .about-img {
  border-radius: 20px;
}/*# sourceMappingURL=home.css.map */