@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





$margin: 82px;


$color-dark: #181C29;
$primary: #FF4646;
$static-white: #FFFFFF;
$tap-purple: #4361FF;
$content-background: #ECF3F8;
$primary-10: #FF46461A;
$static-white-40: #FFFFFF66;
$tag-pink: #FF43F7;
$overlay: #181C29CC;
$static-white-20: #FFFFFF33;
$tag-green: #06A44F;





@mixin action-small{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 0.049em;;
    text-transform: uppercase;
}

@mixin caption{
    font-family: "Allura", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
}

@mixin header1{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
}

@mixin header2{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

@mixin header3{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

@mixin header4{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin paragraph{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

@mixin slider-text{
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin action-large{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

@mixin background{
    background-color: $primary;
    background-image: url("../../assets/img/bg-snow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    width: 100%;

    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 $margin;

        .header-logo{
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 12px 0;
            padding: 8px 20px;
            text-decoration: none;

            .header-logo__title{
                @include action-small;
                color: $color-dark;
            }
        }

        .header-menu{

            .header-menu__items{
                list-style: none;
                display: flex;
                gap: 8px;
            }

            .header-menu__item{
                @include action-small;
                color: $color-dark;
            }

            .header-menu__a{
                @include action-small;
                color: $color-dark;
                text-decoration: none;
                padding: 12px 20px;
                border-radius: 12px;
                transition: all 0.5s ease;

                &:hover{
                    background-color: $primary-10;
                    color: $primary;
                }
            }
        }

        .header-burger{
            height: 40px;
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            display: none;
            transition: all 0.5s ease;

            .header-burger__line{
                background-color: $color-dark;
                border-radius: 1px;
                height: 1px;
                width: 22px;
            }
        }

        @media (max-width: 769px){
            .header-menu{
                display: none;
            }

            .header-burger{
                display: flex;
            }
        }
    }

    @media (max-width: 1440px){
        .header-container{
            margin: 0 calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
        }
    }

    @media (max-width: 768px){
        .header-container{
            margin: 0 8px;
        }
    }
}

.main{
    width: 100%;

    .hero{
        @include background;
        background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-ball.png");
        border-radius: 20px 20px 0 0;
        padding: 60px 0;
        display: flex;
        justify-content: center;
    }

    .hero-container{
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        max-width: 426px;

        .hero-caption{
            @include caption;
            text-align: center;
            color: $static-white;
        }

        .hero-header1{
            @include header1;
            text-align: center;
            color: $static-white;
        }

        .hero-button{
            background: $color-dark;
            border-radius: 20px;
            padding: 20px 32px;
            @include action-small;
            text-align: center;
            color: $static-white;
            text-decoration: none;
            transition: all 0.7s ease;

            &:hover{
                background-color: $static-white;
                color: $color-dark;
            }
        }
    }

    .about{
        @include background;
        padding: 60px 0;

        .about-container{
            margin: 0 $margin;
            background-color: $static-white;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .about-text{
                max-width: 426px;
                padding: 60px 0px;
                margin: 0 60px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .about-text__caption{
                    @include caption;
                    color: $primary;
                }

                .about-text__header2{
                    @include header2;
                    color: $color-dark;
                }

                .about-text__paragraph{
                    @include paragraph;
                    color: $color-dark;
                }
            }

            @media (max-width: 1440px){
                .about-text{
                    width: calc(256px + (426 - 256) * ((100vw - 768px) / (1440 - 768)));
                }
            }

            @media (max-width: 700px){
                .about-text{
                    width: calc(324px + (256 - 324) * ((100vw - 380px) / (700 - 380)));
                    margin: 0 20px;
                }
            }

            @media (max-width: 380px) {
                .about-text {
                    width: 324px;
                }
            }

            .about-img{
                width: 638px;
                height: 528px;
                background-image: url('../../assets/img/santa.png');
                background-position: center;
                border-radius: 20px;
            }

            @media (max-width: 1440px){
                .about-img{
                    width: calc(376px + (638 - 376) * ((100vw - 768px) / (1440 - 768)));
                }
            }

            @media (max-width: 700px){
                .about-img{
                    width: 364px;
                }
            }
        }

        @media (max-width: 1440px){
            .about-container{
                margin: 0 calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
            }
        }

        @media (max-width: 768px){
            .about-container{
                margin: 0 8px;
            }
        }

        @media (max-width: 700px){
            .about-container{
                flex-direction: column;
            }
        }
    }

    .slider{
        @include background;
        padding: 60px 0;

        .slider-container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .slider-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .slider-text__caption{
                    @include caption;
                    color: $static-white;
                }

                .slider-text__header2{
                    @include header2;
                    color: $static-white;
                    text-align: center;
                    line-height: 150%;
                }
            }

            .slider-items{
                display: flex;
                overflow: hidden;

                .slider-item{
                    display: flex;
                    align-items: center;
                    &:first-child{
                        margin-left: 82px;
                    }

                    &:last-child{
                        margin-right: 82px;
                    }

                    .slider-item__word{
                        @include slider-text;
                        color: $static-white;
                        letter-spacing: 0.0035em;
                    }

                    .slider-item__img{
                        width: 200px;
                        height: 200px;
                        border-radius: 20px;
                        margin: 0 20px;
                    }
                }

                @media (max-width: 1440px){
                    .slider-item{
                        &:first-child{
                            margin-left: calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
                        }

                        &:last-child{
                            margin-right: calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
                        }
                    }
                }

                @media (max-width: 768px){
                    .slider-item{
                        &:first-child{
                            margin-left: 8px;
                        }

                        &:last-child{
                            margin-right: 8px;
                        }
                    }
                }
            }

            .slider-button{
                margin: 0 $margin;
                display: flex;
                justify-content: end;
                gap: 20px;

                .slider-button__left{
                    border: 1px solid $static-white-40;
                    border-radius: 20px;
                    width: 56px;
                    height: 56px;
                    background-color: $primary;
                }

                .slider-button__right{
                    border: 1px solid $static-white;
                    border-radius: 20px;
                    width: 56px;
                    height: 56px;
                    background-color: $primary;
                    transition: all 0.5s ease;

                    &:hover svg path{
                        cursor: pointer;
                        stroke: $primary;
                    }

                    &:hover{
                        cursor: pointer;
                        background-color: $static-white;
                    }
                }
            }

            @media (max-width: 1440px){
                .slider-button{
                    margin: 0 calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
                }
            }

            @media (max-width: 768px){
                .slider-button{
                    margin: 0 8px;
                }
            }
        }
    }

    .bestGifts{
        @include background;
        padding: 60px 0;

        .bestGifts-container{
            margin: 0 $margin;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .bestGifts-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .bestGifts-text__caption{
                    @include caption;
                    color: $static-white;
                }

                .bestGifts-text__header2{
                    @include header2;
                    color: $static-white;
                    text-align: center;
                }
            }

            .bestGifts-cards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 12px;

                .bestGifts-card{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 20px;
                    background-color: $content-background;
                    max-width: 310px;

                    .bestGifts-card__img{
                        width: 310px;
                        height: 230px;
                    }

                    .bestGifts-card__text{
                        background-color: $static-white;
                        border-radius: 20px;
                        padding: 20px;
                        height: 112px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .bestGifts-card__text-h4{
                            @include header4;

                            &.work{
                                color: $tap-purple;
                            }

                            &.health{
                                color: $tag-green;
                            }

                            &.harmony{
                                color: $tag-pink
                            }
                        }

                        .bestGifts-card__text-h3{
                            @include header3;
                            color: $color-dark;
                            transition: all 0.5s ease;
                        }
                    }

                    &:hover{
                        cursor: pointer;

                        .bestGifts-card__text-h3{
                            color: $primary;
                        }
                    }
                }
            }
        }

        @media (max-width: 1439px){
            .bestGifts-container{
                margin: 0 8px;
            }
        }
    }

    .cta{
        @include background;
        background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-forest.png");
        border-radius: 0 0 20px 20px;
        padding: 120px 0;
        display: flex;
        justify-content: center;

        .cta-container{
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            max-width: 426px;

            .cta-container__header2{
                @include header2;
                color: $static-white;
                text-align: center;
                line-height: 150%;
            }

            .cta-container__button{
                background: $color-dark;
                border-radius: 20px;
                padding: 20px 32px;
                @include action-small;
                text-align: center;
                color: $static-white;
                text-decoration: none;
                transition: all 0.7s ease;

                &:hover{
                    background-color: $static-white;
                    color: $color-dark;
                }
            }

            .cta-timer{
                display: flex;
                flex-direction: column;
                gap: 8px;

                .cta-timer__caption{
                    @include caption;
                    color: $static-white;
                    text-align: center;
                }

                .cta-timer__times{
                    border-radius: 20px;
                    padding: 8px 12px 12px 12px;
                    background-color: $static-white-40;
                    display: flex;

                    .cta-timer__time{
                        position: relative;
                        width: 80px;
                        height: 52px;
                        text-align: center;

                        &:not(:last-child)::after {
                            content: '';
                            position: absolute;
                            top: 30%;
                            right: 0;
                            width: 1px;
                            height: 20px;
                            background-color: $static-white-40;
                        }

                        .cta-timer__time-header2{
                            @include header2;
                            color: $static-white;
                        }

                        .cta-timer__time-header4{
                            @include header4;
                            color: $static-white;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    width: 100%;
    padding: 60px 0;

    .footer-container{
        margin: 0 $margin;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;

        .footer-container__cards{
            width: 100%;
            display: flex;
            gap: 12px;

            .footer-container__card{
                background-color: $content-background;
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: center;
                flex-grow: 1;
                max-width: 417.33px;
                text-decoration: none;

                .footer-container__card-action{
                    @include action-large;
                    color: $color-dark;
                    line-height: 150%;
                    transition: color 0.5s ease;
                }

                .footer-container__card-header3{
                    @include header3;
                    color: $color-dark;
                    line-height: 150%;
                    transition: color 0.5s ease;
                }

                &:hover{

                    .footer-container__card-action{
                        color: $primary;
                    }

                    .footer-container__card-header3{
                        color: $primary;
                    }
                }
            }

            @media (max-width: 1280px){
                .footer-container__card{
                    max-width: none;
                }
            }
        }

        @media (max-width: 1280px){
            .footer-container__cards{
                flex-direction: column;
            }
        }

        .footer-container__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .footer-container__socials{
                display: flex;
                gap: 12px;

                .footer-container__social{
                    padding: 8px;

                    svg path {
                        stroke: $color-dark;
                        transition: stroke 0.5s ease;
                    }

                    &:hover svg path{
                        stroke: $primary;
                    }
                }
            }

            .footer-container__text-paragraph{
                @include paragraph;
                color: $color-dark;
                line-height: 150%;
            }

            .footer-container__text-caption{
                @include caption;
                color: $color-dark;
                text-decoration: none;
                transition: color 0.5s ease;

                &:hover{
                    color: $primary;
                }
            }
        }
    }

    @media (max-width: 1440px){
        .footer-container{
            margin: 0 calc(8px + (82 - 8) * ((100vw - 768px) / (1440 - 768)));
        }
    }

    @media (max-width: 768px){
        .footer-container{
            margin: 0 8px;
        }
    }
}