@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 82px;
}
.header .header-container .header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
  padding: 8px 20px;
  text-decoration: none;
}
.header .header-container .header-logo .header-logo__title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
}
.header .header-container .header-menu .header-menu__items {
  list-style: none;
  display: flex;
  gap: 8px;
}
.header .header-container .header-menu .header-menu__item {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
}
.header .header-container .header-menu .header-menu__a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  color: #181C29;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.5s ease;
}
.header .header-container .header-menu .header-menu__a:hover {
  background-color: rgba(255, 70, 70, 0.1019607843);
  color: #FF4646;
}
.header .header-container .header-burger {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease;
}
.header .header-container .header-burger .header-burger__line {
  background-color: #181C29;
  border-radius: 1px;
  height: 1px;
  width: 22px;
}
@media (max-width: 769px) {
  .header .header-container .header-menu {
    display: none;
  }
  .header .header-container .header-burger {
    display: flex;
  }
}
@media (max-width: 1440px) {
  .header .header-container {
    margin-left: calc(8px + 74 * (100vw - 768px) / 672);
    margin-right: calc(8px + 74 * (100vw - 768px) / 672);
  }
}

.main {
  width: 100%;
}
.main .hero {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-ball.png");
  border-radius: 20px 20px 0 0;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.main .hero-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 426px;
}
.main .hero-container .hero-caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}
.main .hero-container .hero-header1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.main .hero-container .hero-button {
  background: #181C29;
  border-radius: 20px;
  padding: 20px 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.7s ease;
}
.main .hero-container .hero-button:hover {
  background-color: #FFFFFF;
  color: #181C29;
}
.main .about {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.main .about .about-container {
  margin: 0 82px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about .about-container .about-text {
  max-width: 426px;
  padding: 60px 0px;
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .about .about-container .about-text .about-text__caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FF4646;
}
.main .about .about-container .about-text .about-text__header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181C29;
}
.main .about .about-container .about-text .about-text__paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: #181C29;
}
@media (max-width: 1440px) {
  .main .about .about-container .about-text {
    width: calc(256px + 170 * (100vw - 768px) / 672);
  }
}
.main .about .about-container .about-img {
  width: 638px;
  height: 528px;
  background-image: url("../../assets/img/santa.png");
  background-position: center;
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .main .about .about-container .about-img {
    width: calc(376px + 262 * (100vw - 768px) / 672);
  }
}
@media (max-width: 1440px) {
  .main .about .about-container {
    margin: 0 calc(8px + 74 * (100vw - 768px) / 672);
  }
}
@media (max-width: 768px) {
  .main .about .about-container {
    margin: 0 8px;
  }
}
.main .slider {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.main .slider .slider-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .slider .slider-container .slider-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.main .slider .slider-container .slider-text .slider-text__caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.main .slider .slider-container .slider-text .slider-text__header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 150%;
}
.main .slider .slider-container .slider-items {
  display: flex;
  overflow: hidden;
}
.main .slider .slider-container .slider-items .slider-item {
  display: flex;
  align-items: center;
}
.main .slider .slider-container .slider-items .slider-item:first-child {
  margin-left: 82px;
}
.main .slider .slider-container .slider-items .slider-item:last-child {
  margin-right: 82px;
}
.main .slider .slider-container .slider-items .slider-item .slider-item__word {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.0035em;
}
.main .slider .slider-container .slider-items .slider-item .slider-item__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 0 20px;
}
@media (max-width: 1440px) {
  .main .slider .slider-container .slider-items .slider-item:first-child {
    margin-left: calc(8px + 74 * (100vw - 768px) / 672);
  }
  .main .slider .slider-container .slider-items .slider-item:last-child {
    margin-right: calc(8px + 74 * (100vw - 768px) / 672);
  }
}
.main .slider .slider-container .slider-button {
  margin: 0 82px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.main .slider .slider-container .slider-button .slider-button__left {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  background-color: #FF4646;
}
.main .slider .slider-container .slider-button .slider-button__right {
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  width: 56px;
  height: 56px;
  background-color: #FF4646;
  transition: all 0.5s ease;
}
.main .slider .slider-container .slider-button .slider-button__right:hover svg path {
  cursor: pointer;
  stroke: #FF4646;
}
.main .slider .slider-container .slider-button .slider-button__right:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
@media (max-width: 1440px) {
  .main .slider .slider-container .slider-button {
    margin: 0 calc(8px + 74 * (100vw - 768px) / 672);
  }
}
.main .bestGifts {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.main .bestGifts .bestGifts-container {
  margin: 0 82px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .bestGifts .bestGifts-container .bestGifts-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.main .bestGifts .bestGifts-container .bestGifts-text .bestGifts-text__caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.main .bestGifts .bestGifts-container .bestGifts-text .bestGifts-text__header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.main .bestGifts .bestGifts-container .bestGifts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ECF3F8;
  max-width: 310px;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__img {
  width: 310px;
  height: 230px;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  height: 112px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text .bestGifts-card__text-h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text .bestGifts-card__text-h4.work {
  color: #4361FF;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text .bestGifts-card__text-h4.health {
  color: #06A44F;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text .bestGifts-card__text-h4.harmony {
  color: #FF43F7;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card .bestGifts-card__text .bestGifts-card__text-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181C29;
  transition: all 0.5s ease;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card:hover {
  cursor: pointer;
}
.main .bestGifts .bestGifts-container .bestGifts-cards .bestGifts-card:hover .bestGifts-card__text-h3 {
  color: #FF4646;
}
@media (max-width: 1440px) {
  .main .bestGifts .bestGifts-container {
    margin: 0 calc(68px + 14 * (100vw - 768px) / 672);
  }
}
.main .cta {
  background-color: #FF4646;
  background-image: url("../../assets/img/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/bg-snow.png"), url("../../assets/img/bg-forest.png");
  border-radius: 0 0 20px 20px;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}
.main .cta .cta-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 426px;
}
.main .cta .cta-container .cta-container__header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 150%;
}
.main .cta .cta-container .cta-container__button {
  background: #181C29;
  border-radius: 20px;
  padding: 20px 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 133%;
  letter-spacing: 0.049em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.7s ease;
}
.main .cta .cta-container .cta-container__button:hover {
  background-color: #FFFFFF;
  color: #181C29;
}
.main .cta .cta-container .cta-timer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main .cta .cta-container .cta-timer .cta-timer__caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}
.main .cta .cta-container .cta-timer .cta-timer__times {
  border-radius: 20px;
  padding: 8px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
}
.main .cta .cta-container .cta-timer .cta-timer__times .cta-timer__time {
  position: relative;
  width: 80px;
  height: 52px;
  text-align: center;
}
.main .cta .cta-container .cta-timer .cta-timer__times .cta-timer__time:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.main .cta .cta-container .cta-timer .cta-timer__times .cta-timer__time .cta-timer__time-header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .cta .cta-container .cta-timer .cta-timer__times .cta-timer__time .cta-timer__time-header4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  padding: 60px 0;
}
.footer .footer-container {
  margin: 0 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.footer .footer-container .footer-container__cards {
  width: 100%;
  display: flex;
  gap: 12px;
}
.footer .footer-container .footer-container__cards .footer-container__card {
  background-color: #ECF3F8;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  flex-grow: 1;
  max-width: 417.33px;
  text-decoration: none;
}
.footer .footer-container .footer-container__cards .footer-container__card .footer-container__card-action {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181C29;
  line-height: 150%;
  transition: color 0.5s ease;
}
.footer .footer-container .footer-container__cards .footer-container__card .footer-container__card-header3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181C29;
  line-height: 150%;
  transition: color 0.5s ease;
}
.footer .footer-container .footer-container__cards .footer-container__card:hover .footer-container__card-action {
  color: #FF4646;
}
.footer .footer-container .footer-container__cards .footer-container__card:hover .footer-container__card-header3 {
  color: #FF4646;
}
@media (max-width: 1280px) {
  .footer .footer-container .footer-container__cards .footer-container__card {
    max-width: none;
  }
}
@media (max-width: 1280px) {
  .footer .footer-container .footer-container__cards {
    flex-direction: column;
  }
}
.footer .footer-container .footer-container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer .footer-container .footer-container__text .footer-container__socials {
  display: flex;
  gap: 12px;
}
.footer .footer-container .footer-container__text .footer-container__socials .footer-container__social {
  padding: 8px;
}
.footer .footer-container .footer-container__text .footer-container__socials .footer-container__social svg path {
  stroke: #181C29;
  transition: stroke 0.5s ease;
}
.footer .footer-container .footer-container__text .footer-container__socials .footer-container__social:hover svg path {
  stroke: #FF4646;
}
.footer .footer-container .footer-container__text .footer-container__text-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: #181C29;
  line-height: 150%;
}
.footer .footer-container .footer-container__text .footer-container__text-caption {
  font-family: "Allura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #181C29;
  text-decoration: none;
  transition: color 0.5s ease;
}
.footer .footer-container .footer-container__text .footer-container__text-caption:hover {
  color: #FF4646;
}
@media (max-width: 1440px) {
  .footer .footer-container {
    margin: 0 calc(8px + 74 * (100vw - 768px) / 672);
  }
}/*# sourceMappingURL=home.css.map */